<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title> ExtraTetris - {% block page_title_text %}{% endblock %}</title>

  </head>
  <body>
    <header>
      <!-- <div class='logo'></div> -->
      <h1>ExtraTetris</h1>
      <!-- <nav></nav> -->
      {% block login %}
      {% endblock %}
    </header>
    <main>
      {% block create_game %}
      {% endblock %}
      {% block enter_game %}
      {% endblock %}
      {% block lobby %}
      {% endblock %}
      {% block game %}
      {% endblock %}
    </main>
    <footer>
      <p>Made by ExtraAlien</p>
    </footer>
    {% block scripts %}
    {% endblock %}
  </body>
</html>
