<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title> ExtraTetris - {% block page_title_text %}{% endblock %}</title>
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/style.css">
  </head>
  <body>
    <header>
      <div class='home'>
        <a class='flick' href="/"> <h1>ExtraTetris</h1> </a>
      </div>
      <!-- <nav></nav> -->
      {% block room_number %}
      {% endblock %}
      {% block login %}
      {% endblock %}
      {% block soundcontrol %}
      {% endblock %}
    </header>
    <main>
      {% block create_game %}
      {% endblock %}
      {% block enter_game %}
      {% endblock %}
      {% block lobby %}
      {% endblock %}
      {% block game %}
      {% endblock %}
      {% block profile %}
      {% endblock %}
      {% block big_login %}
      {% endblock %}

      <div id='info' class='info'></div>
    </main>
    <footer>
      <!-- <p>Made by <a class='flick' href='mailto:extraalien@yandex.ru'>ExtraALIEN@yandex.ru</p> -->
    </footer>
    {% block scripts %}
    {% endblock %}
  </body>
</html>
