<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title> ExtraTetris - {% block page_title_text %}{% endblock %}</title>
    <link rel="stylesheet" href="/static/css/style.css">
  </head>
  <body>
    <header>
      <!-- <div class='logo'></div> -->
      <h1>ExtraTetris</h1>
      <a href="/"> Home </a>
      <!-- <nav></nav> -->
      {% block login %}
      {% endblock %}
    </header>
    <main>
      {% block create_game %}
      {% endblock %}
      {% block enter_game %}
      {% endblock %}
      {% block lobby %}
      {% endblock %}
      {% block game %}
      {% endblock %}
      <div id='info' class='info'></div>
    </main>
    <footer>
      <p>Made by ExtraAlien</p>
    </footer>
    {% block scripts %}
    {% endblock %}
  </body>
</html>
