{% extends "./base_main.html" %}

{% block create_game %}
  <h2>Создать игру</h2>
  <form action='/create-game/' method='POST'>
  {% csrf_token %}

    <h3>Количество игроков</h3>
    <div class='radio-block'>
    {% for radio in form.players %}
      <div class='radio-option'>
      {{ radio.tag }}
      <label for={{radio.id_for_label}}><span>{{ radio.choice_label }}</span></label>
      </div>
    {% endfor %}
    </div>
    <h3>тип игры</h3>
    <div class='radio-block'>
    {% for radio in form.game_type %}
      <div class='radio-option'>
      {{ radio.tag }}
      <label for={{radio.id_for_label}}><span>{{ radio.choice_label }}</span></label>
      </div>
    {% endfor %}
    </div>
    <div id='game-description' class='game-description'>
      <div class='short'></div>
      <div class='text'>Здесь появится описание выбранного типа игры</div>
    </div>
    <div class='ranked tumbler'>
      {% if guest_mode %}
        <input id='id_ranked' type="checkbox" disabled></>
      {% else %}
        {{form.ranked}}
      {% endif %}
      <label for='id_ranked'><span>Рейтинговая игра</span></label>
      {% if guest_mode %}
        <div class='disabled-option'>
          <span>(доступно только для зарегистрированных игроков)</span>
        </div>
      {% endif %}
    </div>
    <div class='tumbler'>
      {{form.crazy}}
      <label for='id_crazy'><span>CRAZY режим</span></label>
    </div>
    <div class='radio-block vol inactive'>
      <span>Продолжительность игры</span>{{ form.volume }}<span>%</span>
      <p></p>
    </div>

  <button id='create' type='submit'>Создать игру</button>

  </form>
{% endblock %}

{% block scripts %}
  {%for script in scripts %}
    <script type='module' src='/static/js/{{script}}.js'></script>
  {% endfor %}
{% endblock %}
