{% extends "./base_main.html" %}

{% block page_title_text %}
 Войдите или зарегистрируйтесь
{% endblock %}

{% block login %}
<div class="login">
{% if guest_mode %}
  <a class='flick' href='/login/'>Вход</a>
  <a class='flick' href='/signup/'>Регистрация</a>
{% else %}
  <a class='flick' href={{profile_url}}>{{user}}</a>
  <a class='flick' href='/logout/'>Выход</a>
{% endif %}
</div>
{% endblock %}

{% block lobby %}
  <div class='index'>
    {% if waiting %}
    <a class='flick' data-waiting='waiting' href='{{cur_room.get_url}}'>Досмотреть свою игру</a>
    {% else %}
    <a class='flick' href='/create-game/'>Создать игру</a>
    {% endif %}
    <a class='flick' href='/lobby/'>Присоединиться к игре</a>
  </div>
{% endblock %}

{% block scripts %}
  {%for script in scripts %}
    <script type='module' src='/static/js/{{script}}.js'></script>
  {% endfor %}
{% endblock %}
