{% extends "./base_main.html" %}

{% block extra_css %}
  {%for file in css %}
    <link rel="stylesheet" href="/static/css/{{file}}.css">
  {% endfor %}
{% endblock %}

{% block lobby %}
  <h2>Текущие игры</h2>
  <ul class='lobby'>
    {% for room in rooms %}
      <li class='room' data-number={{room.room_id}}>
        <span class='type'>{{room.type}}</span>
        {% if room.ranked %}
          <span class='type ext'>R</span>
        {% endif %}
        {% if room.crazy %}
          <span class='type ext'>C</span>
        {% endif %}
        <span class='players'>Игроков: {{room.players}}</span>
        <ul class='current-players'>
          {% for field in room.describe %}
            <li data-pos={{field.pos}}>{{field.username}}</li>
          {% endfor %}
        </ul>
        <a class='enter flick' href={{room.get_url}}>Подойти</a>
      </li>
    {% endfor %}
  </ul>
{% endblock %}

{% block scripts %}
  {%for script in scripts %}
    <script type='module' src='/static/js/{{script}}.js'></script>
  {% endfor %}
{% endblock %}
