{% extends './base_main.html' %}

{% block big_login %}
<h2>Вход для зарегистрированных игроков</h2>
<form class="login-form big-form" action="/login/" method="post">
  {% csrf_token %}
  {% for field in form %}
    <div class='field-input'>
    <label for='{{field.id_for_label}}'>{{field.label}}</label>
    {{field}}
    </div>
  {% endfor %}
  <button type='submit'>Вход</button>
  <div class='form-error'>{{error}}</div>

  <a class='flick' href="/signup/">Зарегистрироваться</a>
</form>

{% endblock %}
