{% extends "./base_main.html" %}

{% block profile %}
  <h2>{{stats.user.username}}</h2>
  <p class='joined'>Зарегистрирован: {{stats.user.date_joined}}</p>
  <div class="profile-stats">
    <div class='col'>
      <h3>Результаты</h3>
      <ul class='stats-block'>
        <li>Количество игр<li>
        <li>Эффективность % в играх с соперниками</li>
      </ul>
      <ul class='stats-block'>
        <li>Всего очков</li>
        <li>Очков за 1 игру</li>
        <li>Очков в секунду</li>
        <li>Очков за фигуру</li>
        <li>Очков за 1 действие</li>
        <li>Очков за шаг фигуры</li>
      </ul>
      <ul class='stats-block'>
        <li>Часов в игре</li>
        <li>Среднее время 1 игры</li>
      </ul>
      <ul class='stats-block'>
        <li>Всего линий</li>
        <li>Линий за 1 игру</li>
        <li>Линий в минуту</li>
        <li>Фигур на 1 линию</li>
        <li>Пробег на 1 линию</li>
      </ul>
      <ul class='stats-block'>
        <li>Фигур за 1 игру</li>
        <li>Фигур в минуту</li>
        <li>Действий на 1 фигуру</li>
      </ul>
      <ul class='stats-block'>
        <li>Пробег</li>
        <li>Пробег за 1 игру</li>
      </ul>
      <ul class='stats-block'>
        <li>Действий в минуту</li>
      </ul>
    </div>
    {% for key, values in stats.items %}
      {% if not values.outside %}
      <div class='col'>
        <h3>{{key}}</h3>
        <ul class='stats-block'>
          <li>{{values.games}}<li>
          <li>{{values.eff}}</li>
        </ul>
        <ul class='stats-block'>
          <li>{{values.score}}</li>
          <li>{{values.score_game}}</li>
          <li>{{values.score_distance}}</li>
          <li>{{values.score_figure}}</li>
          <li>{{values.score_actions}}</li>
          <li>{{values.score_distance}}</li>
        </ul>
        <ul class='stats-block'>
          <li>{{values.time}}</li>
          <li class='time'>{{values.time_game}}</li>
        </ul>
        <ul class='stats-block'>
          <li>{{values.lines}}</li>
          <li>{{values.lines_game}}</li>
          <li>{{values.lines_min}}</li>
          <li>{{values.figures_line}}</li>
          <li>{{values.distance_line}}</li>
        </ul>
        <ul class='stats-block'>
          <li>{{values.figures_game}}</li>
          <li>{{values.figures_min}}</li>
          <li>{{values.actions_figure}}</li>
        </ul>
        <ul class='stats-block'>
          <li>{{values.distance}}</li>
          <li>{{values.distance_game}}</li>
        </ul>
        <ul class='stats-block'>
          <li>{{values.actions_min}}</li>
        </ul>
      </div>
      {% endif %}
    {% endfor %}
  </div>
  <h3>Рекорды</h3>
  <div class='records'>
    <div>
      <span>Максимальная скорость</span>
      <span>{{stats.best.speed}}</span>
    </div>
    <div>
      <span>Очков в 1 игре</span>
      <span>{{stats.best.score}}</span>
    </div>
    <div>
      <span>Линий в 1 игре</span>
      <span>{{stats.best.lines}}</span>
    </div>
    <div>
      <span>Пробег в 1 игре</span>
      <span>{{stats.best.distance}}</span>
    </div>
    <div>
      <span>Время выживания</span>
      <span class='time'>{{stats.best.survival_time}}</span>
    </div>
    <div>
      <span>Разгон до 100</span>
      <span>{{stats.best.time_acc}}</span>
    </div>
    <div>
      <span>Время 60 линий</span>
      <span>{{stats.best.time_lines}}</span>
    </div>
    <div>
      <span>Время 4020 шагов</span>
      <span>{{stats.best.time_drag}}</span>
    </div>
    <div>
      <span>Время 20000 очков</span>
      <span>{{stats.best.time_climb}}</span>
    </div>
    <div>
      <span>Очки за 6 минут</span>
      <span>{{stats.best.countdown_score}}</span>
    </div>

  </div>
  <div>
    <h3>Результаты игр</h3>
    <ul class='recorded-games'>
    {% for x in games %}
    <li>
      <a href="{{x.url}}">{{x.started_at}} - {{x.type}} место: {{x.place}}</a>
    </li>
    {% endfor %}
    </ul>
  </div>
{% endblock %}

{% block scripts %}
  {%for script in scripts %}
    <script type='module' src='/static/js/{{script}}.js'></script>
  {% endfor %}
{% endblock %}
