{% extends "./base_main.html" %}

{% block game %}



<section>
  <h2>Room number:
    <span data-room-number='{{room.room_id}}' id='room-number'>{{room.room_id}}</span>
    Type:
    <span data-room-type='{{room.type}}' id='room-type'>{{room.type}}</span>
  </h2>
  {% if room.started %}
  <p data-room-players='{{room.players}}' id='room-players'>>Ожидание игроков...{{room.count_players}}</p>
  <p>Инициатор игры: {{room.author.username}}</p>
  <a href="{{room.delete_url}}">Отменить игру</a>
  {% endif %}
</section>


<section id='game'>
  <div class='grid'>
    {% for pos in positions %}
      <div id='field{{pos}}'
           class='tetris-view {% if is_author and not pos%} current {% endif %}'
           data-pos='{{pos}}'>
           <!-- <span class='player-name'><span> -->
           {% for y in height %}
             <div data-y={{y}} class='row'>
               {% for x in width %}
                 <div data-x={{x}} class='cell'>

                 </div>
               {% endfor %}
             </div>
           {% endfor %}
           <div class='queue'>
             {% for i in queue %}
                <div id='queue{{i}}'>
                  {% for y in queue_grid %}
                    <div data-y={{y}} class='queue-row'>
                      {% for x in queue_grid %}
                        <div data-x={{x}} class='cell'>

                        </div>
                      {% endfor %}
                    </div>
                  {% endfor %}
                </div>
             {% endfor%}
           </div>

           <div id='position{{pos}}'
                class='connect {% if is_author %} connected {% endif %} '
                data-pos='{{pos}}'>
                <button id='connect{{pos}}' data-pos='{{pos}}'>Занять место</button>
           </div>
           <div class='announce'>
             <span class='message'></span>
             <span class='player-name'></span>
           </div>
           <button id='disconnect{{pos}}' class='disconnect {% if is_author %} author {% endif %}' data-pos='{{pos}}'>Отойти</button>
           <div class="stats">
             <div class="score">
               Score: <span class='val'></span>
             </div>
             <div class="lines">
               Lines: <span class='val'></span>
             </div>
             <div class="speed">
               Speed: <span class='val'></span>
             </div>
             <div class="distance">
               Distance: <span class='val'></span>
             </div>
             <div class="time">
               Time: <span class='val'></span>
             </div>
           </div>
           <div class='result'>
             <div class='stat primary'>
               <div class='place'>
                 <span>Место</span>
                 <span class='val result-place'>Ожидание остальных игроков...</span>
               </div>
               <div class='main-value'>
                 <span>Результат</span>
                 <span class='val'></span>
               </div>
             </div>
             <div class='stat scores'>
               <div class='total'>
                 <span>Очки</span>
                 <span class='val'></span>
               </div>
               <div class='intermediate'>
                 <span>Очки за установленное время</span>
                 <span class='val'></span>
               </div>
               <div class='sec'>
                 <span>Очков в секунду</span>
                 <span class='val'></span>
               </div>
               <div class='piece'>
                 <span>Очков за фигуру</span>
                 <span class='val'></span>
               </div>
               <div class='action'>
                 <span>Очков за действие</span>
                 <span class='val'></span>
               </div>
               <div class='dist'>
                 <span>Очков за шаг фигуры</span>
                 <span class='val'></span>
               </div>
             </div>
             <div class='stat time'>
               <div class='overall'>
                 <span>Время в игре</span>
                 <span class='val timing'></span>
               </div>
               <div class='climb'>
                 <span>Время набора установленных очков</span>
                 <span class='val timing dec'></span>
               </div>
               <div class='lines'>
                 <span>Время до установленного количества линий</span>
                 <span class='val timing dec'></span>
               </div>
               <div class='acc'>
                 <span>Время разгона до установленной скорости</span>
                 <span class='val timing dec'></span>
               </div>
               <div class='drag'>
                 <span>Врем прохождения установленной дистанции</span>
                 <span class='val timing dec'></span>
               </div>
             </div>
             <div class='stat lines'>
               <div class='total'>
                 <span>Уничтожено линий</span>
                 <span class='val'></span>
               </div>
               <div class='min'>
                 <span>Линий в минуту</span>
                 <span class='val'></span>
               </div>
               <div class='pieces'>
                 <span>Фигур на 1 линию</span>
                 <span class='val'></span>
               </div>
               <div class='dist'>
                 <span>Пробег на 1 линию</span>
                 <span class='val'></span>
               </div>
             </div>
             <div class='stat figures'>
               <div class='total'>
                 <span>Фигур</span>
                 <span class='val'></span>
               </div>
               <div class='min'>
                 <span>Фигур в минуту</span>
                 <span class='val'></span>
               </div>
               <div class='act'>
                 <span>Действий на 1 фигуру</span>
                 <span class='val'></span>
               </div>
             </div>
             <div class='stat other'>
               <div class='speed'>
                 <span>Максимальная скорость</span>
                 <span class='val'></span>
               </div>
               <div class='dist'>
                 <span>Пробег</span>
                 <span class='val'></span>
               </div>
               <div class='apm'>
                 <span>Действий в минуту</span>
                 <span class='val'></span>
               </div>
             </div>
           </div>
      </div>


    {% endfor %}
  </div>
</section>

{% endblock %}

{% block scripts %}
  {%for script in scripts %}
    <script type='module' src='/static/js/{{script}}.js'></script>
  {% endfor %}
{% endblock %}
