<p>this is a test page</p>
<script>
// websocket scripts
console.log(window.location);
let loc = window.location;



let socket = new WebSocket('ws://localhost/ws/');
socket.onmessage = function(e){
  console.log('message',e);
};
socket.onopen = function(e){
  socket.send(JSON.stringify{type:"fg"});
  console.log('open',e);

};
socket.onclose = function(e){
  console.log('close',e);
};
socket.onerror = function(e){
  console.log('error',e);
};

</script>
// let wsStart = 'ws://';
// let endpoint = wsStart + loc.host + loc.pathname;
