.info {
  position: fixed;
  top: 0;
  right: 0;
  background-color: #84c3cc;
}

.new-info{
  padding: 20px;
}

[id^="disconnect"] {
  display:none;

}

[id^="disconnect"].connected{
  display:block;
}

[id^="disconnect"].author {
  display:none;

}

body {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-content: stretch;
}

body > header, body > footer {
  flex-basis: 10vh;
  flex-grow: 1;
}

body > main {
  flex-basis: 80vh;
  flex-grow: 1;
}


.grid{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}

.tetris-view{
  box-sizing: border-box;
  position: relative;
  border: 1px solid grey;
  flex-grow: 1;
  flex-basis: 20%;
  max-width: 30vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: stretch;
}

.tetris-view .row{
  flex-grow: 1;
  flex-basis: 2.5vh;
  max-height: 2.5vh;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: stretch;
}

.tetris-view .cell{
  box-sizing: border-box;
  flex-basis: 2.5vh;
  max-width:2.5vh;
  border: 1px solid #e2e2e2;
}

.tetris-view .connect{
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}

.tetris-view button[id^="connect"]{
  position: absolute;
  top: 0;
}

.tetris-view .connected button[id^="connect"]{
  display :none;
}

.tetris-view .disconnect{
  position: absolute;
  bottom: 20px;
}


.connect .player-name{
  position: absolute;
  top: 50%;
}

.cell.color-0{
  background-color: #e2e2e2;
}

.cell.color-1{
  background-color: #7e1818;
}

.cell.color-2{
  background-color: #c97e20;
}

.cell.color-3{
  background-color: #b89907;
}

.cell.color-4{
  background-color: #98b41a;
}

.cell.color-5{
  background-color: #1f661f;
}

.cell.color-6{
  background-color: #1f4766;
}

.cell.color-7{
  background-color: #322366;
}

.cell.color-8{
  background-color: #661b66;
}

.cell.color-10{
  background-color: #1e1b25;
}



.queue{
  box-sizing: border-box;
  border: 1px solid grey;
  width: 6vh;
  max-width: 6vh;
  position: absolute;
  top: 0;
  left: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: stretch;

}

.queue > div {
  box-sizing: border-box;
  flex-grow:1;
  flex-basis: 15%;
  border: 1px solid grey;
  display:flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: stretch;
}

.queue-row{

  flex-grow:1;
  flex-basis: 1vh;
  max-height: 1vh;
  display:flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: stretch;

}

.queue-row .cell{
  border: none;
  flex-grow:1;
  flex-basis: 1vh;
  max-width:1vh;
  box-sizing: border-box;
}


.stats{
  box-sizing: border-box;
  border: 1px solid black;
}

.result {
  position: absolute;
  top: 0;
  left: 0;
  width:120%;
  height: 100%;
  background-color: rgba(256,256,256,0.8);
  display: none;
}

.result.finished{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.result.finished .stat{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;

}

.stat > div {
  display: flex;
  flex-direction: row;
  flex-flow: nowrap;
  flex-grow: 1;
  flex-basis: 5%;
  justify-content: space-between;
}

.stat span{
  flex-basis: 70%;
  flex-grow:7;
}

.stat span.val{
  flex-basis: 30%;
  flex-grow:3;
}
