.info {
  position: fixed;
  top: 0;
  right: 0;
  background-color: #84c3cc;
}

.new-info{
  padding: 20px;
}

[id^="disconnect"] {
  display:none;

}

[id^="disconnect"].connected{
  display:block;
}

body {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-content: stretch;
}

body > header, body > footer {
  flex-basis: 10vh;
  flex-grow: 1;
}

body > main {
  flex-basis: 80vh;
  flex-grow: 1;
}


.grid{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}

.tetris-view{
  box-sizing: border-box;
  position: relative;
  border: 1px solid grey;
  flex-grow: 1;
  flex-basis: 20%;
  max-width: 30vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: stretch;
}

.tetris-view .row{
  flex-grow: 1;
  flex-basis: 2.5vh;
  max-height: 2.5vh;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: stretch;
}

.tetris-view .cell{
  box-sizing: border-box;
  flex-basis: 2.5vh;
  max-width:2.5vh;
  border: 1px solid #e2e2e2;
}

.tetris-view .connect{
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}

.tetris-view button[id^="connect"]{
  position: absolute;
  top: 0;
}

.tetris-view .connected button[id^="connect"]{
  display :none;
}

.tetris-view .disconnect{
  position: absolute;
  bottom: 20px;
}


.connect .player-name{
  position: absolute;
  top: 50%;
}

.cell.color-0{
  background-color: #e2e2e2;
}

.cell.color-1{
  background-color: #1e1b25;
}
