@font-face {
    font-family: 'Monitorca';
    src: url('/static/fonts/Monitorca.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Monitorca';
    src: url('/static/fonts/Monitorca-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Digital-7 Mono';
    src: url('/static/fonts/Digital-7MonoItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'FZ DIGITAL 9';
    src: url('/static/fonts/FZ-DIGITAL9.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Digital-7 Mono';
    src: url('/static/fonts/Digital-7Mono.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Interstate Mono-Lgt';
    src: url('/static/fonts/InterstateMono-Lgt.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}






.info {
  position: fixed;
  top: 0;
  right: 0;
  background-color: #84c3cc;
}

.new-info{
  padding: 20px;
}

h1, h2, h3 {
  text-align: center;
  margin: 1rem auto;

}

h1 {
  font-size: 3rem;
  font-family: 'Digital-7 Mono';
  font-style: italic;
  color: #43b933;
}

h2 {
  font-size: 2rem;
  font-weight: bold;
}

h3 {
  font-size: 1.7rem;
  font-weight: bold;
  color: #43b933;
}

@keyframes flick{
  0%{
    color: #43b933;
    text-shadow: 0 0 0 #29b91e,0 0 0 #55b64d ;
  }

  100%{
    color: #44d530;
    text-shadow: 0 0 20px #29b91e,0 0 40px #55b64d ;
  }
}


a {
  transition: .3s;
  color: #43b933;
  cursor:pointer;
}

a:link{
  text-decoration: none;
  color: #d8ffd5;
}

a:visited{
  color: #d8ffd5;
}

a:hover{
  color: #d8ffd5;
}

a:active{
  color: #fe2121;
}


a.flick{
  color: #43b933;
}

a.flick:hover{
  animation: flick 1.5s infinite alternate ease-out;
}




[id^="disconnect"] {
  display:none;

}

[id^="disconnect"].connected{
  display:block;
}

[id^="disconnect"].author {
  display:none;

}

body {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-content: stretch;
  background-color: #000000;
  color: #cbe4c8;
  font-family: 'Monitorca';
  font-size: 20px;
}

button {
  font-family: 'Monitorca';
  cursor: pointer;
}

body > header, body > footer {
  flex-basis: 10vh;
  flex-grow: 1;
}

body > header{
  position: relative;
  text-align: center;
}

body > footer {
  position: fixed;
  bottom:0;
  right:1rem;
  flex-basis:0;
}

.home{
  width: 30vh;
  margin: 0 auto;
}

#copy-url{
  font-size:0.75rem;
}

#copy-url:hover{
  animation: flick .2s infinite alternate;
}

header .login{
  position:absolute;
  top : 50%;
  right: 0;
  width: 30%;
  padding-right: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}

header .login > a {
  display: block;
  padding: 0 10px;
  flex-grow: 1;
  flex-basis: 10%;
}

body > main {
  flex-basis: 90vh;
  flex-grow: 9;
  max-height: 90vh;
}

.room-number h2{
  font-size: 1.25rem;
  color: #43b933;
}

.soundcontrol{
  position: absolute;
  top: 1rem;
  right:1rem;
  height: 5vh;
  width:5vh;
  background-image: url('/static/pic/sound.png');
  background-size: 100%;
  cursor: pointer;
}

.soundcontrol.mute{
  opacity: .4;
}


.index{
  display:flex;
  height: 100%;
  min-height: 80vh;
  flex-direction:row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;

}

.index > a{
  display:block;
  flex-basis: 25%;
  width: 25%;
  font-size: 3rem;
  font-family: 'Monitorca';
  border: 10px solid #e9fee6;
  background-color: #cbe4c8;
  color: #1d381a;
  text-align: center;
  box-shadow: 0 0 14px 2px #0d160c, inset 0 0 14px 2px #0d160c;
  transition: .7s;
  padding: 5vh;
}

.index > a:hover{
  background-color: #000000;
  animation: glow .7s infinite alternate ease-in-out;
}


.big-form{
  flex-basis: 100%;
  height:100%;
  display:flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.big-form .field-input{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin: 3vh auto;
}

.big-form label{
  font-family: 'Digital-7 Mono';
  font-size: 2.5rem;
  padding: 2vh;
}

.big-form input{
  font-family: 'Monitorca';
  font-size: 3rem;
  background-color: #cbe4c8;
  border: 5px solid #09861a;
  width: 20ch;
  height: 3rem;
}

.big-form button {
  margin: 3vh auto;
  width: 40vh;
  height: 15vh;
  font-size: 3rem;
  font-family: 'Monitorca';
  background-color: #000000;
  border: 10px solid #43b933;
  color: #43b933;
}

.big-form button:hover{
  animation: flick 1.5s infinite alternate ease-out;
  box-shadow: 0 0 20px 0 #2bd132;
}

.room-number{
  position: absolute;
  top: 1rem;
  left: 1rem;
}

.grid{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  /* background-color: #e9fee6; */
}

.tetris-view{
  box-sizing: border-box;
  position: relative;
  border: 1px solid #a13702;
  flex-grow: 1;
  flex-shrink:0;
  flex-basis: 20%;
  max-width: 33vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: stretch;
}

.tetris-view .row{
  position: relative;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 2.75vh;
  max-height: 2.75vh;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: stretch;
}

.tetris-view .cell{
  position: relative;
  flex-basis: 2.75vh;
  max-width:2.75vh;
  border: 1px solid #000000;
  border-right:none;
  border-bottom:none;

}




.tetris-view .cell:last-child{
  border-right: 1px solid #000000;
}


.tetris-view > .row.flag::before{
  display:block;
  position: absolute;
  content: '';
  width: 8.33333%;
  top:0;
  bottom:0;
  left: -8.33333%;
  background-image: url("http://localhost/static/pic/flag.png");
  background-size: 100% 100%;
}

.tetris-view .connect{
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}

.tetris-view button[id^="connect"]{
  position: absolute;
  top: 0;
  left:0;
  width:100%;
  height: 100%;
  background-color: transparent;
  border:none;
  color: #a13702;
  font-size: 3rem;
  text-align: center;
  transition: .7s;
}

.tetris-view button[id^="connect"]::after{
  position: absolute;
  display: block;
  content: '';
  top: 0;
  left:0;
  width:100%;
  height: 100%;
  background-image: url('/static/pic/add.png');
  background-size: 40% auto;
  background-position: 50% 30%;
  background-repeat: no-repeat;
  transition: .7s;
  opacity: .2;
}

.tetris-view button[id^="connect"]:hover{
  color: #fb671d;
}

.tetris-view button[id^="connect"]:hover::after{
  opacity: 1;
}

.tetris-view .connected button[id^="connect"]{
  display :none;
}

.tetris-view.inactive button[id*="connect"]{
  display: none;
}

.tetris-view .connected + .bot-handle{
  display: none;
}

.tetris-view .connected.bot + .bot-handle{
  display: block;
}

.bot-handle .bot-level{
  position: absolute;
  top: 1rem;
  left: 0;
  width:100%;
  height: 3rem;
  text-align: center;
  color: #43b933;
}

.tetris-view .bot-handle.option-disabled p{
  text-align: center;
  position: absolute;
  bottom: 40%;
}

.tetris-view .bot-handle.option-disabled button[id^="addbot"]:hover{
  color: #316c29;
}

.tetris-view .bot-handle.option-disabled button[id^="addbot"]:hover::after{
  opacity:.2;
}

.bot-level input{
  font-family: 'FZ DIGITAL 9';
  background-color: transparent;
  color: #316c29;
  border: none;
  text-align: center;
  font-size: 3rem;
  height: 3rem;
  max-width: 4ch;
  margin: 1rem auto;
  padding: 0 .5rem;
}

.tetris-view .disconnect{
  position: absolute;
  top: 0;
  left:0;
  width:100%;
  height: 100%;
  background-color: transparent;
  border:none;
  color: #7d0e0e;
  font-size: 3rem;
  text-align: center;
  transition: .7s;
}

.tetris-view .disconnect::after{
  display: block;
  content: '';
  position: absolute;
  top: 0;
  left:0;
  width:100%;
  height: 100%;
  background-image: url('/static/pic/remove.png');
  background-size: 40% auto;
  background-position: 50% 30%;
  background-repeat: no-repeat;
  border:none;
  color: #7d0e0e;
  font-size: 3rem;
  text-align: center;
  transition: .7s;
  opacity: .2;
}

.tetris-view .disconnect:hover{
  color: #d70303;
}

.tetris-view .disconnect:hover::after{
  opacity: 1;
}


.connect .player-name{
  position: absolute;
  top: 50%;
}

.tetris-view .addbot{
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}

.tetris-view button[id^="addbot"]{
  position: absolute;
  top: 0;
  left:0;
  width:100%;
  height: 100%;
  background-color: transparent;
  border:none;
  color: #316c29;
  font-size: 3rem;
  text-align: center;
  transition: .7s;
}

.tetris-view button[id^="addbot"]::after{
  position: absolute;
  display: block;
  content: '';
  top: 0;
  left:0;
  width:100%;
  height: 100%;
  background-image: url('/static/pic/addbot.png');
  background-size: 40% auto;
  background-position: 50% 30%;
  background-repeat: no-repeat;
  transition: .7s;
  opacity: .2;
}

.tetris-view button[id^="addbot"]:hover{
  color: #43b933;
}

.tetris-view button[id^="addbot"]:hover::after{
  opacity: 1;
}

.bot-handle.bot button[id^="addbot"]{
  display: none;
}

.bot-handle.bot .bot-level{
  display: none;
}



.tetris-view button[id^="delbot"]{
  display: none;
  position: absolute;
  top: 0;
  left:0;
  width:100%;
  height: 100%;
  background-color: transparent;
  border:none;
  color: #7d0e0e;
  font-size: 3rem;
  text-align: center;
  transition: .7s;
}

.tetris-view button[id^="delbot"]::after{
  display:block;
  content: '';
  position: absolute;
  top: 0;
  left:0;
  width:100%;
  height: 100%;
  background-image: url('/static/pic/remove.png');
  background-size: 40% auto;
  background-position: 50% 30%;
  background-repeat: no-repeat;
  border:none;
  color: #7d0e0e;
  font-size: 3rem;
  text-align: center;
  transition: .7s;
  opacity: .2;
}

.bot-handle.bot button[id^="delbot"]{
  display: block;
}

.tetris-view button[id^="delbot"]:hover{
  color: #d70303;
}

.tetris-view button[id^="delbot"]:hover::after{
  opacity: 1;
}

.cell.color-0{
  /* background-color: #d0edcc; */
  background-color: #000000;
}

.cell.color-1{
  background-image: linear-gradient(135deg, #7e1818 0%,#814444 50%,#3d0c0c 51%,#652424 100%);
}

.cell.color-2{
  background-image: linear-gradient(135deg, #c97e20 0%,#cba069 50%,#784b13 51%,#9a6c31 100%);
}

.cell.color-3{
  background-image: linear-gradient(135deg, #b89907 0%,#b3a14d 50%,#5c4c04 51%,#857322 100%);
}

.cell.color-4{
  background-image: linear-gradient(135deg,  #98b41a 0%, #9aa75d 50%, #556510 51%, #738135 100%);
}

.cell.color-5{
  background-image: linear-gradient(135deg,  #1f661f 0%, #4b6b4b 50%, #113911 51%, #254525 100%);
}

.cell.color-6{
  background-image: linear-gradient(135deg,  #295a81 0%, #4a687e 50%, #132c40 51%, #15486f 100%);
}

.cell.color-7{
  background-image: linear-gradient(135deg,  #402e82 0%, #5d5285 50%, #271567 51%, #270b82 100%);
}

.cell.color-8{
  background-image: linear-gradient(135deg,  #872487 0%, #865a86 50%,#5e105e 51%, #850e85 100%);
}

.cell.color-10{
  background-color: #f05407;
  box-shadow: inset 0 0 2px 1px #000000;
}

.cell[class*="powerup"]::before{
  display:block;
  content: "";
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-size: 100% 100%;
}

.cell.blind[class*="powerup"]::before{
  display:none;
}

.cell.powerup-1::before{
  background-image: url("http://localhost/static/pic/1.png");
}

.cell.powerup-2::before{
  background-image: url("http://localhost/static/pic/2.png");
}

.cell.powerup-3::before{
  background-image: url("http://localhost/static/pic/3.png");
}

.cell.powerup-4::before{
  background-image: url("http://localhost/static/pic/4.png");
}

.cell.powerup-5::before{
  background-image: url("http://localhost/static/pic/5.png");
}

.cell.powerup-6::before{
  background-image: url("http://localhost/static/pic/6.png");
}

.cell.powerup-7::before{
  background-image: url("http://localhost/static/pic/7.png");
}

.cell.powerup-8::before{
  background-image: url("http://localhost/static/pic/8.png");
}
.cell.powerup-9::before{
  background-image: url("http://localhost/static/pic/9.png");
}

.cell.powerup-10::before{
  background-image: url("http://localhost/static/pic/10.png");
}

.cell.powerup-11::before{
  background-image: url("http://localhost/static/pic/11.png");
}

.cell.powerup-12::before{
  background-image: url("http://localhost/static/pic/12.png");
}

.cell.powerup-13::before{
  background-image: url("http://localhost/static/pic/13.png");
}

.cell.powerup-14::before{
  background-image: url("http://localhost/static/pic/14.png");
}

.cell.powerup-15::before{
  background-image: url("http://localhost/static/pic/15.png");
}

.cell.powerup-16::before{
  background-image: url("http://localhost/static/pic/16.png");
}

.cell.powerup-17::before{
  background-image: url("http://localhost/static/pic/17.png");
}

.cell.powerup-18::before{
  background-image: url("http://localhost/static/pic/18.png");
}

.cell.powerup-19::before{
  background-image: url("http://localhost/static/pic/19.png");
}

.cell.powerup-20::before{
  background-image: url("http://localhost/static/pic/20.png");
}

.cell.powerup-21::before{
  background-image: url("http://localhost/static/pic/21.png");
}

@keyframes floating{
  0% {background-position: 0% 0%;}
  100% {background-position: 80px -80px;}
}

.cell.blind{
  z-index: 10;
  background-image: url("http://localhost/static/pic/blind.png");
  border: none;
  background-size: 80px 80px;
  animation: floating 1s infinite linear;
}


.announce{
  margin-top: 1px;
  border-top: 1px solid #a13702;
  border-bottom: 1px solid #a13702;
  text-align: center;
  height: 1.5rem;

}

.announce .player-name{
  font-family: 'Digital-7 Mono';
  vertical-align: 5%;

}

.queue{
  box-sizing: border-box;
  width: 6.6vh;
  max-width: 6.6vh;
  position: absolute;
  top: -1px;
  left: calc(100% + 1px);
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: stretch;

}


.queue > div {
  box-sizing: border-box;
  flex-grow:1;
  flex-basis: 15%;
  border-top: 1px solid #a13702;
  border-right: 1px solid #a13702;
  border-left: 1px solid #000000;
  display:flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: stretch;
}

.room-lines{
  display: none;
}

.room-lines.visible{
  display: inline;
}

.queue > div:last-child{
  border-bottom:  1px solid #a13702;
}

.queue.blind > div{
  background-image: url("http://localhost/static/pic/blind.png");
  border: none;
  background-size: 80px 80px;
  animation: floating 1s infinite linear;
}

.queue.blind .cell{
  background-color: transparent;
}

.queue-row{
  flex-grow:1;
  flex-basis: 1.1vh;
  max-height: 1.1vh;
  display:flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: stretch;
}

.queue-row .cell{
  border: none;
  flex-grow:1;
  flex-basis: 1.1vh;
  max-width:1.1vh;
  box-sizing: border-box;
}


.stats{
  position: relative;
  box-sizing: border-box;
  height: 7rem;
  padding: 5px;
  border-bottom: 1px solid #a13702;
  box-shadow: inset 0 0 0 0 rgba(22, 71, 58, 0.6);
  transition: .7s;
}

.stats.ready{
  box-shadow: inset 0 0 10vh 0 rgba(22, 71, 58, 0.6);
}

.stats .score{
  position: absolute;
  font-family: 'FZ DIGITAL 9';
  font-size: 1.5rem;
  width: 7ch;
  top: .5rem;
  right: 1vh;
  color: #ff4b09;
  text-shadow: 0 0 2px #000000;
}

.stats .distance{
  font-family: 'Interstate Mono-Lgt';
  letter-spacing: 1.75px;
  width: 8ch;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  border: 1px solid #404b3f;
  padding-top: 2px;
  border-left: none;
  border-top: none;
  box-shadow: inset 0 0 15px 0 #000000;
  position: absolute;
  bottom: .5rem;
  left: 1vh;
}

.stats .distance .val{
  background-image: linear-gradient( 180deg,
    #171616 0%,
    #35523e 48%,
    #294b37 50%,
    #181d1a 54%,
     #141414 100% );
  flex-grow: 6;
  flex-basis: 10%;


}


.stats .distance .last{
  background-color: #6c190b;
  background-image: linear-gradient( 360deg,
  #6c190b 0%,
    #6e6363 48%,
     #6c190b 100% );
  flex-grow: 1;
  flex-basis: 10%;

}

.stats .time{
  font-family: 'Digital-7 Mono';
  font-style : italic;
  color: #16a6cc;
  position: absolute;
  bottom: .75rem;
  left: 50%;
  transform:translateX(-25%);
  font-size: 1.5rem;
}

.stats .lines{
  font-family: 'FZ DIGITAL 9';
  color: #01910b;
  text-shadow: 0 0 2px #000000;
  display:flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 3ch;
  position: absolute;
  bottom: .5rem;
  right: 1vh;
}

.stats .lines .val{
  flex-grow:1;
}

.stats .lines .room-lines{
  flex-grow:1;
  color: #b5861d;
}


.stats .goals {
  position: absolute;
  font-family: 'FZ DIGITAL 9';
  font-size: 1.5rem;
  top: 2.25rem;
  right: 1vh;
  color: #d90808;
}

.stats .speed {
  position: absolute;
  top: .5rem;
  left: 2rem;
  width: 4rem;
  height: 4rem;

}

.stats .speed .meter{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/static/pic/dash.png');
  background-size: 100% 100%;
}

.stats .speed .arrow{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/static/pic/arrow.png');
  background-size: 100% 100%;
  transform-origin: 50% 50%;
  transition: .2s;
}



.stats .speed .val{
  position: absolute;
  font-family: 'Digital-7 Mono';
  font-size: 2rem;
  color: #c2cb18;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}



.powerups{
  padding: 10px;
  display:flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-content:space-around;
}

.powerups .place{
  box-sizing:border-box;
  flex-basis: 5vh;
  height: 5vh;
  border: 1px solid #a13702;
  background-size: 100% 100%;
  background-color: #000000;
  transition: background-color 3s linear;
}

.powerups .place.active{
  border: 3px solid #18af15;
}

.powerups.place[class*="powerup"]{
  background-color: #403131;
}

.powerups .powerup-1{
  background-image: url("http://localhost/static/pic/1.png");
}

.powerups .powerup-2{
  background-image: url("http://localhost/static/pic/2.png");
}

.powerups .powerup-3{
  background-image: url("http://localhost/static/pic/3.png");
}

.powerups .powerup-4{
  background-image: url("http://localhost/static/pic/4.png");
}

.powerups .powerup-5{
  background-image: url("http://localhost/static/pic/5.png");
}

.powerups .powerup-6{
  background-image: url("http://localhost/static/pic/6.png");
}

.powerups .powerup-7{
  background-image: url("http://localhost/static/pic/7.png");
}

.powerups .powerup-8{
  background-image: url("http://localhost/static/pic/8.png");
}

.powerups .powerup-9{
  background-image: url("http://localhost/static/pic/9.png");
}

.powerups .powerup-10{
  background-image: url("http://localhost/static/pic/10.png");
}

.powerups .powerup-11{
  background-image: url("http://localhost/static/pic/11.png");
}

.powerups .powerup-12{
  background-image: url("http://localhost/static/pic/12.png");
}

.powerups .powerup-13{
  background-image: url("http://localhost/static/pic/13.png");
}

.powerups .powerup-14{
  background-image: url("http://localhost/static/pic/14.png");
}

.powerups .powerup-15{
  background-image: url("http://localhost/static/pic/15.png");
}

.powerups .powerup-16{
  background-image: url("http://localhost/static/pic/16.png");
}

.powerups .powerup-17{
  background-image: url("http://localhost/static/pic/17.png");
}

.powerups .powerup-18{
  background-image: url("http://localhost/static/pic/18.png");
}

.powerups .powerup-19{
  background-image: url("http://localhost/static/pic/19.png");
}

.powerups .powerup-20{
  background-image: url("http://localhost/static/pic/20.png");
}

.powerups .powerup-21{
  background-image: url("http://localhost/static/pic/21.png");
}

.powerups .time-12{
  transition-delay: 3s;
  background-color: #7a4242;
}

.powerups .time-9{
  transition-delay: 2s;
  background-color: #b33636;
}

.powerups .time-6{
  transition-delay: 1.5s;
  background-color: #fa1919;
}

@keyframes blink{
  0% {opacity:1;}
  50%  {opacity: 0;}
  100% {opacity:1;}
}

.powerups .time-3{
  background-color: #820000;
  animation: blink 0.25s infinite alternate;
}

.result {
  position: absolute;
  z-index:20;
  top: -1px;
  left: -1px;
  width:133%;
  height: 101%;
  background-color: rgba(0,0,0,0.8);
  color: #44d530;
  display: none;
}

.result.finished{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.result.finished .stat{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;

}

.stat > div {
  display: flex;
  flex-direction: row;
  flex-flow: nowrap;
  flex-grow: 1;
  flex-basis: 5%;
  justify-content: space-between;
}

.stat span{
  flex-basis: 70%;
  flex-grow:7;
}

.stat span.val{
  flex-basis: 30%;
  flex-grow:3;
}


.radio-block{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 80%;
  margin: 4vh auto;
}

.radio-option{
  box-sizing: border-box;
  position:relative;
  display:flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  flex-basis: 15%;
  width: 15%;
  max-width: 15%;
  height: 8vh;
  flex-grow:1;
  margin: 1vh;
}

.radio-option input{
  display:none;
}

.radio-option input + label {
  font-family: 'Digital-7 Mono';
  box-sizing: border-box;
  cursor: pointer;
  flex-basis: 100%;
  display:flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  border: 10px solid #e9fee6;
  background-color: #cbe4c8;
  color: #1d381a;
  /* transition-property: background-color, color, border-color, font-size;
  transition-duration: .3s; */
  text-transform: uppercase;
  text-align: center;
  box-shadow: 0 0 14px 2px #0d160c, inset 0 0 14px 2px #0d160c;
  transition: .7s;
}



@keyframes glow {
  0% {
    box-shadow: 0 0 15px 5px #85fb76, inset 0 0 15px 5px #85fb76;
    border-color: #96f98a;
    color: #96f98a;
    text-shadow: 0 0 5px #96f98a;
  }
  100% {
    box-shadow: 0 0 10px 3px #5dba50, inset 0 0 10px 3px #5dba50;
    border-color: #43b933;
    color: #43b933;
    text-shadow: 0 0 10px #43b933;

  }
}

.radio-option input:checked + label {

  background-color: #000000;
  padding-bottom: .3rem;
  font-size: 1.7rem;
  animation: glow .7s infinite alternate ease-in-out;
}


.game-description{
  box-sizing: border-box;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 1rem;
  padding: 10px;
  min-height: 8vh;
  border: 10px solid #a4c2a0;
  background-color: #e9fee6;
  color: #3f603b;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 0 0 14px 2px #0d160c, inset 0 0 14px 2px #0d160c;
}

.game-description .short{
  font-family: 'Digital-7 Mono';
  flex-basis: 10%;
  font-size: 3rem;
  padding-bottom: .5rem;
  font-weight: bold;
  text-align: center;
  text-shadow: -1px 1px 0 #0d160c,
				        1px 1px 0 #0d160c,
				        1px -1px 0 #0d160c,
				        -1px -1px 0 #0d160c,
                0 0 5px #0d160c;
}

.game-description .text{
  flex-basis: 90%;
  padding-left: 5px;
}

.ranked{
  margin: 2rem auto;
  text-align: center;
  line-height:2rem;
  height: 2rem;
  font-size: 2rem;
  width: 20vw;

}

.ranked .disabled-option{
  font-size: 1rem;
}

.ranked input[type="checkbox"]{
  display:none;
}

.ranked input[type="checkbox"] + label{
  position:relative;
  padding-left: 2.25rem;
  cursor:pointer;
  transition: .2s;
}

.ranked input[type="checkbox"] + label::after{
  position:absolute;
  top: 0;
  left: -1.75rem;
  box-sizing:border-box;
  display: block;
  content: "";
  background-color: transparent;
  border: 1px solid #a4c2a0;
  border-radius: 50%/100%;
  height:1.75rem;
  width:3.5rem;
}

.ranked input[type="checkbox"]:checked + label::after{
  border-color: #44d530;
}

.ranked input[type="checkbox"] + label::before{
  position: absolute;
  top: 0;
  left: -1.75rem;
  box-sizing:border-box;
  display: block;
  content: "";
  background-color: #a4c2a0;
  height:1.75rem;
  width:1.75rem;
  border: .25rem solid black;
  border-radius: 50%;
  transition: .2s;
}

.ranked input[type="checkbox"]:checked + label{
  color: #44d530;
}

.ranked input[type="checkbox"]:checked + label::before{
  left:0;
  background-color: #195711;
  border-width: .25rem;
}

.vol{
  font-size: 3rem;
}

.vol input[type="number"]{
  font-family: 'FZ DIGITAL 9';
  text-align: right;
  background-color: #000000;
  border: none;
  outline: none;
  color: #44d530;
  font-size: 3rem;
  line-height: 3rem;
  width: 5ch;
  margin: 0 .5ch;
}

#create{
  display: block;
  cursor: pointer;
  font-weight: bold;
  margin: 0 auto;
  width: 40vh;
  height: 15vh;
  border: 10px solid #b61515;
  background-color: #714d4d;
  color: #670c0c;
  font-size: 3rem;
  text-transform: uppercase;
  box-shadow: 0 0 18px 5px #0d160c, inset 0 0 18px 5px #0d160c;
  text-shadow: -1px 1px 0 #0d160c,
				        1px 1px 0 #0d160c,
				        1px -1px 0 #0d160c,
				        -1px -1px 0 #0d160c,
                0 0 5px #0d160c;
  transition: .7s;
}

#create:hover{
  box-shadow: 0 0 18px 5px #db0713, inset 0 0 18px 5px #db0713;
  text-shadow: -1px 1px 0 #0d160c,
				        1px 1px 0 #0d160c,
				        1px -1px 0 #0d160c,
				        -1px -1px 0 #0d160c,
                0 0 25px #db0713;
  background-color: #000000;
  border-color: #ec1521;
  color:  #ec1521;
}

#create.filled{
  border-color: #43b933;
  background-color: #7fb877;
  color: #43b933;
}

#create.filled:hover{
  animation: glow .7s infinite alternate ease-in-out;
  background-color: #000000;
}

.vol.inactive{
  display: none;
}

.vol{
  text-align: center;
  display:block;
}

.lobby{
  width:80%;
  margin: 5vh auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.lobby .room{
  position: relative;
  flex-basis: 25%;
  margin: 10px;
  text-align:center;
  border: 5px solid #43b933;
  padding: 10px;
  background-color: #000000;
  color: #7bcf72;
}


.lobby .room:hover{
  animation: glow 2s infinite alternate;
}

.lobby .room .type{
  font-family: 'Digital-7 Mono';
  font-size: 3rem;
  font-weight: bold;
  position: absolute;
  top: 10px;
  left: 10px;
  color: #000000;
  text-shadow: -1px 1px 0 #7bcf72,
				        1px 1px 0 #7bcf72,
				        1px -1px 0 #7bcf72,
				        -1px -1px 0 #7bcf72;
}

.lobby .room .type.r{
  top: calc(10px + 3rem);
}

.lobby .room:hover .type{
  animation: flick 1s infinite alternate;
}

.lobby .room .players{
  font-size: 1.5rem;
}

.lobby .room .current-players{
  padding-top: 10px;
  padding-bottom: 10px;


}

.lobby .room .enter{
  font-size: 2rem;
}

.profile-stats {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.joined{
  text-align: center;
}

.profile-stats .col{
  display:flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  flex-basis: 5%;
  flex-grow: 1;
  text-align: center;
}

.profile-stats .col:first-child{
  flex-grow: 12;
}

.profile-stats .stats-block{
  display:flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  padding: 10px;
}

.stats-block li{
  flex-basis: 2rem;
  max-height:2rem;
}

.records {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  width: 100%;
  padding: 10px 0 ;
}

.records > div {
  display:flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  width: 50%;
  margin: 0 auto;
}

.records > div > span{
  padding: 5px;
  text-align: center;
  flex-basis: 50%;
  flex-grow: 1;
}

.recorded-games{
  text-align: center;
}

.graph{
  width: 80%;
  margin: 10px auto;
  min-height: 100vh;
  border: 1px solid white;
  position: relative;
}

.graph .modes {
  position: absolute;
  width: 15%;
  height: 50%;
  left: 82.5%;
  top: 10%;
  display:flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}

.graph .modes li{
  flex-basis: 5%;
  text-align: center;
  font-size: 1.25rem;
  line-height: 1.25rem;
  cursor:pointer;
}

.graph .modes .displaying{
  color: #30a109;
}

.game-results{
  width: 80%;
  margin: 1rem auto;
  display:flex;
  flex-direction: row;
  flex-wrap:nowrap;
  justify-content: space-around;
  align-items: flex-start;
}

.game-results .col{
  flex-basis: 20%;
  flex-grow:1;
  text-align: center;
}


.game-results .col > li{
  height: 1.5rem;
}

.game-results li:nth-child(2n+1){
  color: #30a109;
}

.game-results .col .color-0{
  color: #c61212;
}

.game-results .col .color-1{
  color: #004bf1;
}

.game-results .col .color-2{
  color: #e9a611;
}

.game-results .col .color-3{
  color: #05db0e;
}

.game-results .end{
  margin-bottom: 1.5rem;
}

.graph .legend{
  position: absolute;
  width: 15%;
  height: 20%;
  left: 82.5%;
  top: 80%;
  display:flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}

.legend .color-0{
  color: #c61212;
}

.legend .color-1{
  color: #004bf1;
}

.legend .color-2{
  color: #e9a611;
}

.legend .color-3{
  color: #05db0e;
}

.form-error{
  color: #a31717;
}
